<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title class="post_title">{{ site.title }}</title>
  <h2 class ="site_subtitle ">{{site.subtitle}}</h2>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
  <div class = "wrapper">
    <h3 class = "site_title">{{ site.title }}</h3>
    <div id="nav">
      <ul>
        <li id="nav-list"><a href="/">Home</a></li>
        <li id="nav-list"><a href="/about">About</a></li>
      </ul>
    </div>
    <div class="container">
